
.header {
    margin: auto;
    width: 1280px;
    height: 1626px;

}
.nav-menu {
    margin-top: 18px;
    margin-left: 332px;
}

li {
    display: inline;
}

a {
    color: #16a085;
    font-size: 20px;
    text-align: left;
    margin-right: 50px;
    letter-spacing: 3px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, monospace;

}

.content-text {
    margin: auto;
    width: 1059px;
    height: 354px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: bolder;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
}

h2 {
    font-size: 22px;
    text-align: left;
    margin-left: 342px;
    text-transform: uppercase;
}
.content{
    margin: auto;
    width: 1280px;
    height: 650px;
    padding-top: 20px;
    background-color: #f5f6f7;
}

.bottom1 {
    width: 191px;
    height: 51px;
    background-color: #16a085;
    margin: auto;
}

.bottom {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    color: rgba(255, 255, 255, 255);
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
}


.bottom-text {
    color: white;
    padding-top: 18px;
    text-transform: uppercase;
    border: 1px solid #16a085;
    letter-spacing: 1.2px;
    font-weight: bold;
}
.footer {
    font-size: 18px;
    text-align: left;
    margin-top: 47px;
    font-weight: bold;
    margin-left: 750px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, monospace;
}